@import 'base/all';

@import 'modules/modal';

@import 'partials/header';
@import 'partials/footer';


.portret{
  .container{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__left{
    @media(min-width:768px){
      width: 50%;
    }
  }
  &__img{
    display: block;
    @media(max-width:767px){
      margin-top: 25px;
      margin-left: -15px;
    }
    @media(min-width:768px){
      width: 50%;
    }
  }
  p{
    margin-bottom: clamp(25px, cqi(40), 40px);
  }
}

.disney{
  background: var(--light);
  &__row{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  &__slider{
    @media(min-width:768px){
      width: calc(50% - 30px);
    }
  }
  &__nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;
    img{
      overflow: hidden;
      border: 1px solid var(--light);
      border-radius: 8px;
      transition: .5s ease;
      cursor: pointer;
      &:hover{
        box-shadow: 0 0 6px var(--purple);
      }
      &.active{
        border-color: var(--purple);
        box-shadow: 0 0 6px var(--purple);
      }
    }
  }
  &__image{
    border-radius: 15px;
    margin-bottom: 15px;
  }
  &__form{
    padding: clamp(20px, cqi(40), 40px);
    background-color: var(--yellow);
    border-radius: 16px;
    border: 3px dotted #000;
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
      width: calc(50% - 30px);
    }
    .wpcf7-spinner {
      position: absolute;
      z-index: 2;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }
    .wpcf7-response-output {
      text-align: center;
    }
  }
  h4{
    font-size: clamp(22px, cqi(30), 30px);
    font-weight: 700;
    margin-bottom: 12px;
  }
  &__price{
    font-weight: 700;
    font-size: 31px;
    line-height: 1.3;
    color: var(--pink );
    display: flex;
    margin-bottom: 16px;
    strike{
      margin: 4px;
      font-weight: 400;
      font-size: 18px;
      color: var(--gray);
    }
  }
  &__sign{
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
  }
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
}

.field{
  margin-bottom: 20px;
  position: relative;
  label{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
  }
  select{
    padding: 6px 28px 6px 12px;
    font-size: 16px;
    border: 1px solid #d1d5db;
    background: var(--yellow);
    display: block;
    width: 100%;
  }
  input[type="file"]{
    height: 50px;
    display: block;
    width: 100%;
  }
  & > button[type="button"]{
    border: none;
    padding: 0;
    color: var(--white);
    background: rgb(55, 126, 98);
    display: block;
    width: 100%;
    color: var(--white);
    font-size: 16px;
    min-height: 50px;
    border-radius: 4px;
    animation: zoom 2s infinite;
    &:hover{
      animation: none;
    }
  }
  &__popup {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0, .75);
    padding: 50px 15px;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease;
    &.active{
      opacity: 1;
      visibility: visible;
    }
  }
  &__inner{
    background: var(--white);
    border-radius: 15px;
    padding: 30px 18px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    position: relative;
    h3{
      font-size: 20px;
    }
    h5{
      font-size: 18px;
      font-weight: 400;
    }
    input[type="email"],
    input[type="text"],
    input[type="tel"]{
      display: block;
      width: 100%;
      padding: 7px 15px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      border: 1px solid silver;
      border-radius: 6px;
      padding-left: 50px;
    }
    .field{
      @media(min-width:768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      label{
        width: 100%;
        display: block;
        margin: 0;
        @media(min-width:768px){
          width: 100px;
        }
      }
      &:last-child{
        margin-bottom: 0;
        margin-top: 30px;
      }
    }
  }
  &__box{
    width: 100%;
    position: relative;
    @media(min-width:768px){
      width: calc(100% - 100px);
    }
    i{
      border-radius: 6px 0 0 6px;
      position: absolute;
      z-index: 2;
      background: #e9ecef;
      width: 38px;
      text-align: center;
      line-height: 38px;
      color: var(--black);
      border: 1px solid silver;
    }
  }
  &__order{
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    padding: 30px 0 30px 75px;
    margin-bottom: 15px;
    position: relative;
    &:before{
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      background: url(../img/1.webp) no-repeat left center/100% auto;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid var(--gray-second);
      border-radius: 4px;
    }
  }
  &__close{
    background: none;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 5px;
    &:after{
      display: inline-block;
      content: "\00d7";
    }
  }
  &__price{
    font-weight: 700;
    font-size: 20px;
    @media(min-width:768px){
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.works{
  text-align: center;
  &__list{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    padding: 15px;
    @media(min-width:768px){
      width: calc(100% / 3);
    }
    img{
      width: 200px;
    }
  }
}

.portfolio{
  background: var(--light);
  text-align: center;
  &__list{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    @media(min-width:768px){
      width: calc(100% / 2 - 10px);
    }
    img{
      margin-bottom: 20px;
    }
  }
}

.advantages{
  text-align: center;
  h3{
    font-size: clamp(18px, cqi(22), 22px);
  }
  &__list{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    padding: 15px;
    @media(min-width:768px){
      width: calc(100% / 3);
    }
    img{
      margin-bottom: 20px;
    }
  }
  i{
    font-size: 32px;
    margin-bottom: 24px;
    padding: 32px;
    color: var(--yellow);
    background-color: var(--purple);
    border-radius: 50%;
  }
}

.tehnics{
  background: url(../img/tech-bg.png) no-repeat center top/cover;
  position: relative;
  color: var(--white);
  text-align: center;
  padding-top: clamp(100px, cqi(150), 150px);
  padding-bottom: clamp(100px, cqi(150), 150px);
  h2{
    margin-bottom: 16px;
    font-family: 'Grandstander', cursive;
  }
  p{
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
  &:before{
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .container{
    position: relative;
    z-index: 2;
    width: 740px;
  }
}

.reviews{
  text-align: center;
  h2{
    font-size: clamp(24px, cqi(41), 41px);
  }
  h2 + p{
    margin-bottom: 40px;
  }
  h3{
    color: var(--pink);
    padding: 15px;
  }
  p{
    padding: 0 15px;
  }
  &__list{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__item{
    border-radius: 15px;
    overflow: hidden;
    background: var(--yellow-second);
    padding-bottom: 30px;
    @media(min-width:768px){
      width: calc(100% / 4 - 20px);
    }
  }
  &__stars{
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    i{
      color: var(--purple);
      font-size: 16px;
      &:not(:first-child){
        margin-left: 4px;
      }
    }
  }
}

.portret{}
